<div class="container-fluid mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mt-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" style="border-right: 1px solid #ccc;">
                            <h3 class="mb-4"><i class="bi bi-cart3"></i> Shopping list</h3>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action" style="cursor: pointer;"
                                *ngFor="let ingredient of ingredients; let i = index" (click)="onEditItem(i)">
                                {{ ingredient.name }} ({{ingredient.amount}})
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <app-shopping-edit></app-shopping-edit>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- background items -->
<div class="leaf" style="background-image: url('assets/leaf2.png'); top: 8%; left: 17%;"></div>
<div class="leaf" style="background-image: url('assets/leaf3.png'); top: 20%; right: 18%; transform: rotate(45deg);"></div>
<div class="dish" style="background-image: url('assets/shopping-list-dish.png'); bottom: 0%; left: 2%;"></div>
<div class="dish" style="background-image: url('assets/shopping-list-dish2.png'); bottom: 7%; right: 4%;"></div>
    

