h3{
  color: #198754;
  font-weight: 700;
  letter-spacing: 2px;
}

.leaf,
.dish {
  width: 350px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: -1;
}

.dish {
  width: 462px;
  height: 461px;
}
