<div class="row mt-5 p-4 shadow rounded" style="background-color: white; min-height: 40vh;">
    <div class="col-md-5">
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- background items -->
<div class="leaf" style="background-image: url('assets/leaf.png'); top: 18%; left: 11%; transform: rotate(180deg);"></div>
<div class="leaf" style="background-image: url('assets/leaf2.png'); top: 20%; right: 8%; transform: rotate(120deg);"></div>
<div class="dish" style="background-image: url('assets/recipes-dish2.png'); bottom: 0%; right: 40%;"></div>