<div class="container mt-3">
    <div class="row justify-content-center ">
        <div class="col-md-12">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="mb-3">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" class="form-control" name="name" ngModel required>
                    </div>
                    <div class="col-md-4">
                        <label for="amount" class="form-label">Amount</label>
                        <div class="input-group">
                            <input type="text" id="amount" class="form-control" name="amount" ngModel required
                                pattern="^[1-9]+[0-9]*$">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success" type="submit" [disabled]="!f.valid">
                            {{editMode ? 'Update' : 'Add'}}
                        </button>
                        <button *ngIf="editMode" class="btn btn-danger ms-2" type="button" (click)="onDelete()">Delete
                        </button>
                        <button *ngIf="editMode" class=" btn-clear btn ms-2" type="button" (click)="onClear()">
                            Close
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>